@font-face {
    font-family: "Proxima Nova";
    src: url("./assets/font/ProximaNovaFont.otf") format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', serif;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    margin-top: 60px;
    text-align: center;
}

.header h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #141414;
}

.header_paragraph {
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #141414;
}

.main {
    margin-top: 38px;
    display: flex;
    gap: 64px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item {
    position: relative;
    padding: 20px;
    max-width: 480px;
    height: 88px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(81, 169, 225, 0.04), 0 4px 5px rgba(81, 169, 225, 0.02), 0 1px 10px rgba(81, 169, 225, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

.active {
    box-shadow: 0 14px 20px rgba(81, 169, 225, 0.04), 0 6px 22px rgba(81, 169, 225, 0.02), 0 7px 12px rgba(81, 169, 225, 0.1);
}

.item-label {
    position: absolute;
    width: 7px;
    height: 88px;
    left: 0;
    top: 0;
    border-radius: 8px 0 0 8px;
    /*background: #77BCE8;*/
}

.item_header {
    font-weight: 600;
    font-size: 16px;
    color: #51A9E1;
}

.item_text {
    padding-top: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.twister {
    position: relative;
    background: linear-gradient(321.42deg, #E7F5FF -34.62%, #FEFEFE 99.7%);
    border-radius: 8px;
}

.blue {
    position: absolute;
    left: 14%;
    top: 17%;
}

.green {
    position: absolute;
    left: 18%;
    top: 36%;
}

.orange {
    position: absolute;
    left: 26.6%;
    top: 23.6%;
}

.pink {
    position: absolute;
    left: 22.3%;
    top: 10.4%;
}

.decoration {
    position: absolute;
    border-radius: 100%;
    background: radial-gradient(50.36% 50.36% at 71.53% 29.56%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #F7EFFF 0%, #77BCE8 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.decoration-one {
    width: 19px;
    height: 19px;
    left: 50px;
    top: 154px;
    opacity: 0.5;
    filter: blur(1.35714px);
}

.decoration-two {
    width: 28px;
    height: 28px;
    left: 131px;
    top: 43px;
    opacity: 0.7;
    filter: blur(2px);
}

.decoration-three {
    width: 28px;
    height: 28px;
    left: 433px;
    top: 464px;
    opacity: 0.7;
    filter: blur(2px);
}

.decoration-four {
    width: 52px;
    height: 52px;
    left: 500px;
    top: 490px;
    filter: blur(0.5px);
}

